body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  text-align: center;
}

h1 {
  font-size: 8rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
  opacity: 0.9;
}
